/*gray = #E3E3E3, off-white = #F6F6F8, touch of red = #C60021*/
/**************************************/
/*****-1-Globals-**********************/
/*****-2-Nav-bar-**********************/
/*****-3-Main-*************************/
/**************************************/
/**************************************/

/*****-1-Globals-**********************/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
  }

.about a {
    color: #C60021;
}

body {
    background-color: #E3E3E3;
    font-family: Copperplate, Papyrus, fantasy;
    max-width: 1140px;
    margin: auto;
}

h1 {
    text-align: center;
    font-size: 3.5rem;
}

h2 {
    color: #C60021;
    padding-bottom: 1rem;
}

span {
    color: #C60021;
}

.spacer {
    height: 3rem;
}

/*****-2-Nav-bar-**********************/

.nav-list li {
    list-style-type: none;
    margin-left: 15px;
}

.nav-list {
    display: flex;
    justify-content: end;
    margin: 20px;
}

/*****-3-Main-*************************/

.flex-container {
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    max-width: 50rem;
    margin: auto;
}

.flex-item {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    
}

.profile-pic img {
max-width: 300px;
height: auto;
}

footer {
    background-color: #F6F6F8;
    height: 10rem;
}