h2 {
    font-family: Helvetica;
    font-size: 50px;
    font-weight: bold;
    color: cornflowerblue;
    text-align: center;
}
.aboutMe {
    background-color: skyblue;
}
.profilepic {
        border-radius: 50%;
        width: 150px;
        height: 150px;
}
span {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}
