/* Spinner */
/* solid linear-gradient(90deg, rgba(198,0,33,1) 0%, rgba(82,128,255,1) 100%); */

.spinner {
  border: 8px solid #c60021;
  border-top: 8px solid #e3e3e3;
  border-right: 8px solid #c60021;
  border-bottom: 8px solid #c60021;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  animation: spin 1.8s linear infinite;
  /* margin: auto; */
  visibility: hidden;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
